<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="clock"></div>
</body>
<script>
   
    const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    
    const now = new Date();
    const year = now.getFullYear();
    const month = String(months[now.getMonth() + 1]);
    const day = String(now.getDate());
    const dayOfWeek = String(days[now.getDay()]);
    const hour = String(now.getHours()).padStart(2, "0");
    const minute = String(now.getMinutes()).padStart(2, "0");

    const d = `${hour}:${minute} on ${dayOfWeek}, ${day} ${month} ${year}`;
    console.log(d);
    

    const d2 = new Date(1987, 06, 08, 14, 17)
    console.log(new Date())

    document.getElementById('clock').innerHTML=d + '<br>'
    document.getElementById('clock').innerHTML+=d2.toLocaleDateString() + '<br>'
</script>
</html>